:root {
  --sea-green: #026b4c;
  --white: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 4%;
  color: var(--white);
  background-color: var(--sea-green);
}

.navbar .left {
  font-size: 22px;
  font-weight: 600;
}

.navbar .right button {
  outline: none;
  border: 2px solid var(--white);
  background-color: var(--white);
  color: var(--sea-green);
  font-weight: 600;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.navbar .right button:hover {

  background-color: var(--sea-green);
  color: var(--white);
  cursor: pointer;
}

.main-app {
  text-align: center;
}